body 
{
	background-image: url("1010bg.jpg");
    color: #1ec503;
    font-family: arial;
}
h1
{
	font-size: 60px;
	font-weight: bold;
	padding-left: 35px;
	text-shadow: 0px 0px 3px white;
}
#navbar ul
{
    padding: 0;
    margin:0;
	list-style-type: none;
	text-align: left;
}
#navbar li
{
	display: inline;
	vertical-align: center;
	padding: 35px;
}
#navbar a
{
	text-decoration: none;
	color: #909090;
	font-size: 60px;
	text-shadow: 0px 0px 5px white;
}
#navbar a:hover
{
	color:white;
	text-shadow: 0px 0px 5px green;
}
#me
{
	float: left;
	width: 500px;
	height: 500px;
	border-radius: 150px;
	padding-right: 85px;
}
#briefinfo
{
	text-align: right;
	padding-right: 15px;
	font-size: 48px;
	text-shadow: 0px 0px 1.5px white;
}
.contactimage
{
	height: 55px;
	border-radius: 15px;
}
td.adress:hover
{
	background-image: url("1010bg.jpg");
}
table,th,td
{
	border: 5px solid #1e6503;
	font-size: 48px;
	padding: 8px;
}
.adress
{
	text-align: center;
}
